$colors: (
    primary: (
        100: 0,
        200: 0,
        300: 0,
        400: hsl(244, 38%, 16%),
        500: 0,
        600: 0,
        700: hsl(233, 47%, 7%),
        800: 0,
        900: 0
    ),
    secondary: (
        100: 0,
        200: 0,
        300: 0,
        400: hsl(277, 64%, 61%),
        500: 0,
        600: 0,
        700: 0,
        800: 0,
        900: 0
    ),
    neutral: (
        100: hsl(0, 0%, 100%),
        200: hsla(0, 0%, 100%, 0.75),
        300: hsla(0, 0%, 100%, 0.6),
        400: 0,
        500: 0,
        600: 0,
        700: 0,
        800: 0,
        900: 0
    )
);